APP_NAME="Portfolio API"
APP_ENV=local
APP_KEY=base64:/opLSXeT8fH1HIdmGZeEAfnBqNBFFKZxCa9Q4IkNsTs=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Configuration API
API_VERSION=v1
API_PREFIX=api

# Cache et sessions en fichier (pas de DB)
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

# Mail en log pour le développement
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@portfolio-api.com"
MAIL_FROM_NAME="${APP_NAME}"

# Configuration CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173

VITE_APP_NAME="${APP_NAME}"
